<ul>
    <li>
        <a href="{% url 'dashboard' %}" class="side-menu {% if menu == 'dashboard' %} side-menu--active {% endif %}">
            <div class="side-menu__icon"> <i data-lucide="home"></i> </div>
            <div class="side-menu__title"> Dashboard </div>
        </a>
    </li>

    <li>
        <a href="{% url 'program-list' %}" class="side-menu {% if menu == 'programs' %} side-menu--active {% endif %}">
            <div class="side-menu__icon"> <i data-lucide="book-open"></i> </div>
            <div class="side-menu__title"> Programs </div>
        </a>
    </li>

    <li>
        <a href="{% url 'course-list' %}" class="side-menu {% if menu == 'courses' %} side-menu--active {% endif %}">
            <div class="side-menu__icon"> <i data-lucide="book-open"></i> </div>
            <div class="side-menu__title"> Courses </div>
        </a>
    </li>

    <li>
        <a href="{% url 'department-list' %}" class="side-menu {% if menu == 'departments' %} side-menu--active {% endif %}">
            <div class="side-menu__icon"> <i data-lucide="archive"></i> </div>
            <div class="side-menu__title"> Departments </div>
        </a>
    </li>

    <li>
        <a href="{% url 'staff-list' %}" class="side-menu {% if menu == 'staffs' %} side-menu--active {% endif %}">
            <div class="side-menu__icon"> <i data-lucide="users"></i> </div>
            <div class="side-menu__title"> Faculties </div>
        </a>
    </li>

    <li>
        <a href="{% url 'album-list' %}" class="side-menu {% if menu == 'albums' %} side-menu--active {% endif %}">
            <div class="side-menu__icon"> <i data-lucide="image"></i> </div>
            <div class="side-menu__title"> Albums </div>
        </a>
    </li>

    <!-- <li>
        <a href="javascript:;" class="side-menu">
            <div class="side-menu__icon"> <i data-lucide="edit"></i> </div>
            <div class="side-menu__title">
                Crud
                <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
            </div>
        </a>
        <ul class="side-menu__sub-open">
            <li>
                <a href="side-menu-light-crud-data-list.html" class="side-menu">
                    <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                    <div class="side-menu__title"> Data List </div>
                </a>
            </li>
            <li>
                <a href="side-menu-light-crud-form.html" class="side-menu">
                    <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                    <div class="side-menu__title"> Form </div>
                </a>
            </li>
        </ul>
    </li> -->
</ul>