<ul class="scrollable__content py-2">
    <li>
        <a href="{% url 'dashboard' %}" class="menu">
            <div class="menu__icon"> <i data-lucide="home"></i> </div>
            <div class="menu__title"> Dashboard </div>
        </a>
    </li>

    <li>
        <a href="{% url 'program-list' %}" class="menu">
            <div class="menu__icon"> <i data-lucide="book-open"></i> </div>
            <div class="menu__title"> Programs </div>
        </a>
    </li>

    <li>
        <a href="{% url 'course-list' %}" class="menu">
            <div class="menu__icon"> <i data-lucide="book-open"></i> </div>
            <div class="menu__title"> Courses </div>
        </a>
    </li>

    <li>
        <a href="{% url 'department-list' %}" class="menu">
            <div class="menu__icon"> <i data-lucide="archive"></i> </div>
            <div class="menu__title"> Departments </div>
        </a>
    </li>

    <li>
        <a href="{% url 'staff-list' %}" class="menu">
            <div class="menu__icon"> <i data-lucide="users"></i> </div>
            <div class="menu__title"> Faculties </div>
        </a>
    </li>

    <li>
        <a href="{% url 'album-list' %}" class="menu">
            <div class="menu__icon"> <i data-lucide="image"></i> </div>
            <div class="menu__title"> Albums </div>
        </a>
    </li>

    <!-- <li>
        <a href="javascript:;" class="menu">
            <div class="menu__icon"> <i data-lucide="edit"></i> </div>
            <div class="menu__title"> Crud <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
        </a>
        <ul class="menu__sub-open">
            <li>
                <a href="side-menu-light-crud-data-list.html" class="menu">
                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                    <div class="menu__title"> Data List </div>
                </a>
            </li>
            <li>
                <a href="side-menu-light-crud-form.html" class="menu">
                    <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                    <div class="menu__title"> Form </div>
                </a>
            </li>
        </ul>
    </li> -->
</ul>