{% extends 'web/partials/base.html' %}

{% load static %}

{% block content %}

<div class="clearfix"></div>

<section>
    <div class="container aboutus">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="mb4per">
                    <h4>About us</h4>
                    <h2 >Welcome National College</h2>
                    <p>
                        <b>NATIONAL COLLEGE TALIPARAMBA</b>, was established in 1975 with the aim of imparting tuition classes for school and college going students as well as SSLC failed students of nearby schools. At the time of inception the classes were conducted in a rented building. <br>Shri. <b>M V Purushothaman</b> was the founder Principal and he still continues in the post. As a result of the hard work of faculty and excellent management of the promoters this venture became a great success grand.<br>In 1978, the college started Pre-Degree course for private registered students of Calicut University. Within a few years the college became very popular among the students and parents of neighbouring villages and towns. The student strength increased and the management thought of alternate arrangement to accommodate the growing number of students.
                    </p>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                <img src="{% static 'web/images/welcome1 (1).jpg' %}" alt="" class="img-fluid img-thumbnail">
                </div>
            </div>

            <div class="col-lg-12"><br>
                <p> 
                    It is located between the Taliparamba police station and court. It is conducive for intellectual advancement along with achievement of high moral values. The college stood for the preservation and development of arts, literature and culture. To this end of seminars and cultural events are conducted regularly with the active participate of students and faculty members.<br><br>
                    In 1982, the college was shifted to its own building at Court Road, Taliparamba. The same year the first batch of B.Com class was started with a few students. In due course undergraduate course B A English, B A History, B A Economics, B A Political Science, B A Malayalam, B.Sc Math and post graduate classes for the above courses were started. The low fee structure and the variety course offered by the college attracted eligible students, especially financially backward students in large numbers. Students from remote villages got opportunity to pursue their higher education.<br><br>
                    In 2001, the college celebrated its Silver Jubilee. The student strength of the college at that time was 2600. The Registrar of kannur University Prof. K H Subramanian	 was the chief guest.<br><br>
                    The establishment of Kannur University and de-linking of Pre-Degree higher from colleges and starting plus two at secondary schools were a setback for the college. Calicut University withdrew examination centres from Kannur University area. The college had the only option to start a few courses offered by Kannur University under distance education system.<br><br>
                    In 2002, the management of the college was brought under Gurudev Educational and Charitable Trust which established Gurudev Arts and Science college Mathil, affiliated to Kannur University. Our Principal Shri. M V Purushothaman the Chairman and was Managing Trustee and founder chairman of the college.<br><br>
                    The computer wing of the NICT was established in 1996. It is the educational partner of C-dit a Kerala Government undertaking. It is also the direct dealer of Tally Education Solution Pvt Ltd Bengaluru. The college has separate blocks for Plus Two and PG Course.
                </p>
            </div>
        </div>

        <div class="bxshadow">
            <div class="mission">
                <h1>Our Vision</h1>
                <p>Empowering students to fulfill their academic and professional passion.</p>
                
                <h1>Our Mission</h1>
                <p>To impart an education that transform the students through rigorous academic activities with the purpose of contributing to the emerging society and industry</p>

                <h1>Motives</h1>
                <p>Impart higher education to all students irrespective of caste, creed or religion. The college aims at motivating and inculcating scientific  spirit, humanism and free thinking and professional ethics to all students</p>

                <h1>Location</h1>
                <p>The college is ½ KM away from private bus stand on the Court Road. It is easily accessible from nearby villages and towns.</p>
            </div>
        </div>
    </div>

</section>

{% endblock content %}