{% extends 'web/partials/base.html' %}

{% load static %}

{% block content %}

<div class="clearfix"></div>

<section class="latestnews mt3per mb3per"> 
    {% if faculties %}
        <div class="container">
            <h4>National College</h4>
            <h2 >{{ department.name }}</h2>
            <div class="row">
                {% for faculty in faculties %}
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 mt3per">
                        <div class="department">
                            <h2>{{ faculty.name }}</h2>
                            <p>{{ faculty.position }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="bxshadow mb3per">
            <div class="mission">
                <h1>No Data Found</h1>
            </div>
        </div>
    {% endif %}
</section>

{% endblock content %}