{% extends 'web/partials/base.html' %}
{% load static %}

{% block content %}
<section class="ourcourses">
    <div class="container">
        <div class="row">

            {% if album.type == 'photo' %}
                {% for file in files %}
                    <div class="col-sm-6 col-md-4 col-lg-4 item mt3per">
                        <a href="{{ file.file.url }}" data-lightbox="photos">
                            <img 
                                class="img-fluid object-cover rounded" 
                                src="{{ file.file.url }}" 
                                style="width: 100%; height: 250px; object-fit: cover;"
                            >
                        </a>
                    </div>
                {% endfor %}
            {% endif %}

            {% if album.type == 'video' %}
                {% for file in files %}
                    <div class="col-sm-6 col-md-4 col-lg-4 item mt3per">
                        <video 
                            class="img-fluid rounded" 
                            controls
                            style="width: 100%; height: 250px; object-fit: cover;"
                        >
                            <source src="{{ file.file.url }}">
                        </video>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>
</section>
{% endblock content %}
