{% extends 'web/partials/base.html' %}

{% load static %}

{% block content %}

<div class="clearfix"></div>

<section>
   <div class="container aboutus">
        <div class="bxshadow">
            <div class="mission">
                <h1>Placement Facilities </h1><br>
                <p>The Placement Office facilitates the students to explore the world of employment and new career avenues. It also helps students in career planning through counselling, where in they gather information about themselves in terms of their interests, aptitudes and abilities so that they can choose their career more effectively. The objective of the Placement Office is also on the professional development of the students by training them towards employability skills such as resume building, Aptitude, group discussion and interview skills which in turn helps the students to move into a desired occupation.</p>
                <p>Placements occur for a set, finite period of time that is agreed upon between the workplace and the worker. Unlike temporary work, the purpose of a placement of this nature is usually to give the worker an opportunity to learn something from a new work environment or for them to contribute something to that environment for a set period of time. After a placement has been completed, a worker will usually return to their usual place of work, ideally with insight to bring to their role or business.</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}