{% extends 'web/partials/base.html' %}

{% load static %}

{% block content %}

<div class="clearfix"></div>

<section>
   <div class="container aboutus">
        <div class="bxshadow">
            <div class="mission">
                <h1>Rules and Regulation of our College</h1><br>
                <ul class="listing-sec">
                    <li>Students must obey the rules and regulations that are carried by the College Chancellors. </li>
                    <li>In all working days uniform is Compulsory.</li>
                    <li>It is compulsory to wear uniform in all programs related with College.</li>
                    <li>Student must wear uniform with collar and below hand knee.</li>
                    <li>Don’t wear Ornaments inside the College.</li>
                    <li>Inside the class don’t use Electronic things.</li>
                    <li>Inside the campus politics activities are not Allowed.</li>
                    <li>Students  must  wear  proper  uniform  along  with  ID card  while  attending  the  classes.</li>
                    <li>All Programs are conduct only while Principal sir permission.</li>
                    <li>Students  should  show  Respect  to  the  Teaching  staff, College  and  non  Teaching  staff.</li>
                    <li>All Programs are conduct only while Principal sir permission.</li>
                    <li>Students  will have  to  obey  the  Rules  and  Regulations  of  the  college. Principal’s  decision  will  be  final  in  any  academic  or  disciplinary  matters.</li>
                    <li>Students must attend all the exams conducted by the College.</li>
                    <li>On time students must come to the class.</li>
                    <li>College fees must be pay on time otherwise fine will be collected.</li>
                    <li>The  fees  once  paid  will  not  be  refunded  even  if  the  student  for  any  reasons  shall  leave  the  institution  after  Admission.</li>
                    <li>On class time don’t go outside without Principal sir permission.</li>
                    <li>Parents must participate the Parents meeting.</li>
                    <li>According to ‘Prohibition Of Raging’ act in Kerala on 1998 that is offense in College.</li>
                    <li>Students are responsible for keeping the Classroom and the things related with classroom neat and clean.</li>
                    <li>Ragging  is  strictly  Prohibited.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock content %}