{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<div class="col-span-12 mt-6">
    <div>
        <h2 class="text-2xl font-bold text-center text-primary border-b pb-5 my-10">
            ALBUMS
        </h2>
    </div>

    <div class="intro-y block sm:flex items-center h-10">
        <div class="flex items-center sm:ml-auto mt-3 sm:mt-0">
            <a href="{% url 'create-album' %}" class="btn btn-primary flex items-center text-white dark:text-slate-300"> 
                <i data-lucide="plus-circle" class="hidden sm:block w-4 h-4 mr-2"></i> 
                Add Album
            </a>
        </div>
    </div>

    <div class="grid grid-cols-12 gap-6 mt-5">
        <!-- BEGIN: Users Layout -->
        {% if albums %}
            {% for album in albums %}

                {% url 'delete-album' album.slug as delete_url %}

                <div class="intro-y col-span-12 md:col-span-6 box rounded-md overflow-hidden">
                    <div class="h-[320px] before:block before:absolute before:w-full before:h-full before:top-0 before:left-0 before:z-10 before:bg-gradient-to-t before:from-black/90 before:to-black/10 image-fit">
                        <img alt="" class="rounded-md" src="{% if album.cover_image %} {{ album.cover_image.url }} {% else %} https://via.placeholder.com/600x400.png?text=No+Image {% endif %}">
                        <div class="absolute w-full flex items-center justify-end px-5 pt-6 z-10">
                            <div class="dropdown ml-3">
                                <a href="javascript:;" class="bg-white/20 dropdown-toggle w-8 h-8 flex items-center justify-center rounded-full" aria-expanded="false" data-tw-toggle="dropdown"> <i data-lucide="more-vertical" class="w-4 h-4 text-white"></i> </a>
                                <div class="dropdown-menu w-40">
                                    <ul class="dropdown-content">
                                        <li>
                                            <a href="{% url 'edit-album' album.slug %}" class="dropdown-item"> <i data-lucide="edit-2" class="w-4 h-4 mx-2"></i> Edit Album </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" onclick="openDeleteModal('{{ delete_url }}')" class="dropdown-item"> <i data-lucide="trash" class="w-4 h-4 mx-2"></i> Delete Album </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="absolute bottom-0 text-white px-5 pb-6 z-10"> 
                            <span class="bg-white/20 px-2 py-1 rounded">{{ album.type | capfirst }} Album</span> 
                            <a href="{% url 'upload-photo' album.slug %}" class="block font-medium text-xl mt-3">{{ album.title }}</a> 
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-5">
                <table class="table table-report -mt-2">
                    <tbody>
                        <tr class="intro-x width">
                            <td class=" width" style="width:100%;">
                                <i data-lucide="hard-drive"
                                    style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;"
                                    class="w-6 h-6 mr-2 text-white bg-primary">
                                </i>
                                <div style="text-align: center;">No data available!</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
        <!-- BEGIN: Users Layout -->
    </div>
</div>
{% endblock %}