{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National College</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'web/style.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'web/css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'web/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'web/css/custom.css' %}">
    <!-- Modernizer for Portfolio -->
    <script src="{% static 'web/js/modernizer.js' %}"></script>
</head>
<body>
    {% include 'web/partials/header.html' %}

    {% block content %}

    {% endblock content %}

    {% include 'web/partials/footer.html' %}

    <!-- ALL JS FILES -->
    <script src="{% static 'web/js/all.js' %}"></script>
    <script src="{% static 'web/js/jquery-2.2.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'web/js/slick.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'web/js/custom.js' %}"></script>
    <script src="{% static 'web/js/timeline.min.js' %}"></script>
</body>
</html>