{% load static %}

<div class="header-top">
    <div class="container">
        <div class="deskonly">
            <div class="row">
                <div class="col-md-8 col-sm-8 ">
                    <div class="header-top-left">
                        <p><a href="tel:04602203355" ><i class="fa fa-phone-square"></i></a>  04602203355 &nbsp;<a href="mailto:info@nctcampus.com" > <i class="fa fa-envelope"></i> </a> info@nctcampus.com</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="header-top-right text-right">
                        <ul>
                            <li><a href="https://www.facebook.com/nationalcollegetlp" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/nationalcollegetlp/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.php">
                <img src="{% static 'web/images/logos-new.png' %}" alt="national college"  />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbars-host">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.php">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="dropdown-a" data-toggle="dropdown">Who we Are <i class="fa fa-angle-down"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="about-us.php">About Us</a>
                            <a class="dropdown-item" href="rules-and-regulations.php">Rules & Regulations</a>
                            <a class="dropdown-item" href="placements.php">Placement</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Course <i class="fa fa-angle-down"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="plus-one-courses.php">Plus One</a>
                            <a class="dropdown-item" href="ug-courses.php">UG Course</a>
                            <a class="dropdown-item" href="pg-courses.php">PG Course</a>
                            <a class="dropdown-item" href="tally-courses.php">Tally Course</a>
                            <a class="dropdown-item" href="C-Dit-Course.php">C Dit Course</a>
                            <a class="dropdown-item" href="Certified-Course.php">SAP</a>
                            <a class="dropdown-item" href="kerala-state"> Kerala State Rutronix affiliated</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Gallery <i class="fa fa-angle-down"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="gallery.php">Photos</a>
                            <a class="dropdown-item" href="video-gallery.php">Videos </a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Department <i class="fa fa-angle-down"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="commerece-department.php">Dept Of Commerce</a>
                            <a class="dropdown-item" href="english-department.php">Dept Of English </a>
                            <a class="dropdown-item" href="SocialScience-department.php">Dept Of SocialScience </a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="our-activities.php">Activities</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="online-form.php">Online</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact-us.php">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>