{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<div class="grid grid-cols-12 gap-6">
    <div class="col-span-12 2xl:col-span-12">
        <div class="grid grid-cols-12 gap-6">
            
            <!-- BEGIN: General Report -->
            <div class="col-span-12 mt-8">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        General Report
                    </h2>
                    <a href="" class="ml-auto flex items-center text-primary"> <i data-lucide="refresh-ccw" class="w-4 h-4 mr-3"></i> Reload Data </a>
                </div>
                <div class="grid grid-cols-12 gap-6 mt-5">
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="shopping-cart" class="report-box__icon text-primary"></i>
                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">{{ total_courses | default:0 }}</div>
                                <div class="text-base text-slate-500 mt-1">Total Courses</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="credit-card" class="report-box__icon text-pending"></i>
                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">{{ total_departments | default:0 }}</div>
                                <div class="text-base text-slate-500 mt-1">Total Departments</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="monitor" class="report-box__icon text-warning"></i>
                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">{{ total_enquiries | default:0 }}</div>
                                <div class="text-base text-slate-500 mt-1">Total Enquiries</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="user" class="report-box__icon text-success"></i>
                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">{{ total_applications | default:0 }}</div>
                                <div class="text-base text-slate-500 mt-1">Online Applications</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: General Report -->

            <!-- BEGIN: Weekly Top Products -->
            <div class="col-span-12 mt-6">
                <div class="intro-y block sm:flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Recent Enquiries
                    </h2>
                    <div class="flex items-center sm:ml-auto mt-3 sm:mt-0">
                        <button class="btn box flex items-center text-slate-600 dark:text-slate-300"> <i data-lucide="file-text" class="hidden sm:block w-4 h-4 mr-2"></i> Export to Excel </button>
                        <button class="ml-3 btn box flex items-center text-slate-600 dark:text-slate-300"> <i data-lucide="file-text" class="hidden sm:block w-4 h-4 mr-2"></i> Export to PDF </button>
                    </div>
                </div>
                <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
                    {% if enquiries %}
                        <table class="table table-report sm:mt-2">
                            <thead>
                                <tr>
                                    <th class="text-center whitespace-nowrap">SL NO</th>
                                    <th class="text-center whitespace-nowrap">NAME</th>
                                    <th class="text-center whitespace-nowrap">MOBILE</th>
                                    <th class="text-center whitespace-nowrap">EMAIL</th>
                                    <th class="text-center whitespace-nowrap">SUBMITED DATE</th>
                                    <th class="text-center whitespace-nowrap">ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for enquiry in enquiries %}

                                    {% url 'delete-enquiry' enquiry.slug as delete_url %}

                                    <tr class="intro-x">
                                        <td class="text-center w-32 ">
                                            {{ forloop.counter }}
                                        </td>
                                        <td class="text-center">
                                            {{ enquiry.name }}
                                        </td>
                                        <td class="text-center">
                                            {{ enquiry.mobile }}
                                        </td>
                                        <td class="text-center">
                                            {{ enquiry.email }}
                                        </td>
                                        <td class="text-center">
                                            {{ enquiry.date_added | date:"d M Y" }}
                                        </td>
                                        <td class="table-report__action w-32">
                                            <div class="flex justify-center items-center">
                                                <a class="flex items-center text-warning mx-3" href=""> 
                                                    <i data-lucide="eye" class="w-4 h-4"></i>
                                                </a>
                                                <a class="flex items-center text-danger mx-3" href="javascript:;" onclick="openDeleteModal('{{ delete_url }}')"> 
                                                    <i data-lucide="trash-2" class="w-4 h-4"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                    <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-5">
                        <table class="table table-report -mt-2">
                            <tbody>
                                <tr class="intro-x width">
                                    <td class=" width" style="width:100%;">
                                        <i data-lucide="hard-drive"
                                            style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;"
                                            class="w-6 h-6 mr-2 text-white bg-primary">
                                        </i>
                                        <div style="text-align: center;">No data available!</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- END: Weekly Top Products -->

        </div>
    </div>
</div>

{% endblock content %}